lightning_logs/
TK_data/T0_data/*
TK_data/T0_keep/*
TK_data/T0_data.tar
TK_data/T1_wellness/*
TK_data/T2_chatbot_data/*
TK_data/T3_national/*
TK_data/T4_KETI/*
TK_data/T5_twitter/*
TK_checkpoint/
todo.txt
temp.txt
